# Dependencies
node_modules/
**/node_modules/
.pnpm-store/
.pnp.cjs
.pnp.loader.mjs

# Builds
dist/
.out/
.netlify/
.next/
.vite/

# Environment files (prevent committing secrets)
.env
.env.*
.env.local
.env.development
.env.production
.env.test
.env.*.local
!.env.example
!.env.production.example

# Firebase/Emulator logs
firebase-debug.log
firestore-debug.log
ui-debug.log